@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Imbue:opsz,wght@10..100,100&family=Italianno&amily=Tsukimi+Rounded:wght@300&display=swap');



*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Imbue', serif;}

li{
    list-style-type:none;
    }

    a{
        text-decoration: none;
    }

   h1{
    font-weight: lighter;
    -webkit-text-stroke-width: 0.40px;
    -webkit-text-stroke-color: rgb(44, 46, 46);
   }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: #b61c1c;
        font-size:2rem;
    } 
.nav-logo-mobile{
    display:none;
}
    #contactLink{
        position: absolute;
        margin-left:10vw;
        margin-top:-1%;
    }

    #bookLink{
        position: absolute;
        margin-left:60vw !important;
        margin-top:-3%;
        background-color: #fff;
        padding: 1% 1% 1% 1%;
        font-size:1rem;
       
    }
    #nav-logo-desktop{
        position: absolute;
        margin-left:36%;
        font-size: 6rem;
        font-weight: 500;
       color:#ffffff;
       font-weight: lighter;
       font-family: 'Italianno', cursive;

    }

    

    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }


    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
    }
    
    .nav-link:hover{
        color: #ffffff;
    }
    
    

    #homeLink{
        
        margin-top:-2%;
        margin-left:-60%;
    }

    #projectLink{
        margin-left:-50%;
    }

    #aboutLink{
        margin-left:-90%;
    }

    #contactLink{
        margin-top:-2%;
        margin-left:20%;
    }









/* Staring with 700 desktop first , place mobile above it*/

    @media screen and (min-width:700px){
        #dskNav{
         
            margin-left:-5vw !important;
        }
                
                #mainNav{
                    position: absolute;
                    margin-top:0vh;
                    padding:2%;
                    background-color: #ffffff7e;
                    width:100vw;
                    height:7vh;
                } 
                
                

                a{
                    color:#313131;
                    font-weight: lighter;
                  }
    
                  .nav-link{
                   
                    margin-left:10vw;
                   padding:20% 4% 0% 4%;
                    color:#242424;
                    font-size:1.40rem;
                    font-weight: lighter;
    
                  }

                  #linkOne{
                    position: absolute;
                    margin-top:-42vh;
                    margin-left:3vw;
                   
                  }

                  #booking{
                    position: absolute;
                    margin-top:0vh;
                    margin-left:50vw;
                 
                     font-size:1.5rem;
                    
                        padding:0% 3% 0% 3%;          
                     border-width: 1px;
                     border-color:#636161;
                     border-style:solid;
                     border-radius: 25px;
                     font-family: 'Italianno', cursive;
                    
                     color:#535252 !important;
                    
                  }
    
                  #miniNav{
                    display:none;
                  }
    
                  #mainNav{
                    display:inline-block;
                    font-size:0.50rem;
                    color:#302e2e;
                  }

                  h1{
                    position: absolute;
                    margin-top:-9vh !important;
                    margin-left:30vw !important;
                    font-size:6rem;
                    font-weight: lighter;
                   font-family: 'Italianno', cursive;
                    color:rgb(105, 103, 103);
                   
                }
                #mobileTitle{
                    margin-top:30vh;
                }

                .sliderContainer{
                   position: relative;
                    margin-top:10vh;
                    
                    height:100vh;
                        width:100vw;
                        height:100vh;
                       
                }
    
                    .contentContainer{
                      
                        width:20vw;
                        height:10vh;
                    
                    }

                    .mySlides{
                        height:5vh;
                    }
                    
                    .sampleImg{
                        
                        display:flex;
                        padding:4%;
                        width:10vw;
                        height:120px;
                    }
                    
                    .prev, .next {
                        cursor: pointer;
                        position: absolute;
                        top: 100vh;
                        width: 20px;
                        margin-top: -50vh;
                        padding: 1% 1% 1% 1%;
                        color: rgb(248, 246, 246);
                        font-weight: bold;
                        font-size: 30px;
                        transition: 0.6s ease;
                        border-radius: 0 3px 3px 0;
                        user-select: none;
                        z-index:1;
                      }
                      
                      /* Position the "next button" to the right */
                      .next {
                        background-color:#363434;
                        right:6vw;
                        border-radius: 100%;

                       
                      }
                      .prev{
                        background-color:#363434;
                        
                        left: 5vw;
                        border-radius: 100%;
                      }
                      /* On hover, add a black background color with a little bit see-through */
                      .prev:hover, .next:hover {
                        background-color: rgba(0,0,0,0.8);
                      }
                      
                      
                      /* Fading animation */
                      .fade {
                        animation-name: fade;
                        animation-duration: 1.5s;
                      }
                      
                      @keyframes fade {
                        from {opacity: .4}
                        to {opacity: 1}
                      }
                    

               
                
                     

                 


        .sliderContainer{
            margin-top:5vh;
        }


               
            .lgImg{
                position: absolute;
                margin-top:17vh;
                margin-left:17vw;
                height:57vh;
                width:44vw;
               
            }

            .smImg{
                position: absolute;
                margin-top:18vh;
                margin-left:70vw;
                height:20vh;
                width:6vw;
                

            }

            #img1{
                margin-left:3vw;
                height:57vh;
                width:44vw;
               
            }

            #img2{
                margin-left:-2vw;
                height:55vh;
                width:13vw;
            }
            .underlay{
                height:20vh;
                width:40vw;
            }

            #sliderColor{
                margin-top:-80vh;
                margin-left:15vw;
                height:65vh;
                width:70vw;
                background-color: #d6d6d6;
                border-radius: 25px;

            }

            h2{

                position: absolute;
                margin-top:16vh !important;
                margin-left:36vw !important;
                font-size:5rem;
                font-weight: lighter;
               font-family: 'Italianno', cursive;
                color:rgb(78, 71, 71);

            }

            

            .sectionText{
                width:60vw;
                font-size:25px;
            }

            #about1{
                position: absolute;
                margin-top:33vh;
                margin-left:23vw;
                font-size:25px;
            }


            #about2{
                position: absolute;
                margin-top:43vh;
                margin-left:23vw;
                font-size:25px;
            }

            #contact{
                position: absolute;
                margin-top:58vh !important;
                margin-left:43vw;
                font-size:1rem;

                padding:0% 4% 0% 4%; 
                border-radius: 25px;         
             border-width: 1px;
             border-color:#636161;
             border-style:solid;
             font-family: 'Italianno', cursive;
             color:#3d3d3d !important;
            }

            #offers{

                margin-top:60vh;
                margin-left:25vw;
                width:50vw;
              
            }

           
           

h3{
position: absolute;
margin-top:5vh !important;
margin-left:18vw !important;
font-size:5rem;
font-weight: lighter;
font-family: 'Italianno', cursive;
color:rgb(78, 71, 71);
}

.itemHeader{
margin-top:90vh;
margin-left:20vw;

}

.itemText{
margin-top:17vh;
margin-left:10vw;
width:40vw;
font-size:25px;

}

#itemTextOne{
    margin-top:16vh;
    margin-left:5vw;
}

#itemTextTwo{
    margin-top:9vh;
    margin-left:11vw;
}

#itemTextThree{
    margin-top:9vh;
    margin-left:15vw;
    
}

#itemTextFour{
    margin-top:9vh;
    margin-left:10vw;
    
}


            #footer{
                position: relative;
              margin-top:2000px;

                height:27vh;
                background-color: #3a3a3a;
                color:#fff;
                margin-top:8vh !important;
            }

            .footerNav{
                display:inline-block;
                padding:0% 4% 0% 4%;
                margin-top:2vh;
                margin-left:17vw;
                 
                  font-size:23px;
                  color:rgb(212, 212, 212);
               }
  
              
               #footerLogo{
                  position: absolute;
                  margin-top:5vh;
                  margin-left:35vw !important;
                 font-size:65px;
                  font-family: 'Italianno', cursive;
                  font-weight: lighter;
                  color:white;
              
               }
                
                
            
            }
