

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Imbue:opsz,wght@10..100,100&family=Italianno&family=Pinyon+Script&family=Tsukimi+Rounded:wght@300&display=swap');



*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Imbue', serif;}

li{
    list-style-type:none;
    }

    a{
        text-decoration: none;
    }

   

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: #b61c1c;
        font-size:2rem;
    } 
.nav-logo-mobile{
    display:none;
}
    #contactLink{
        position: absolute;
        margin-left:10vw;
        margin-top:-1%;
    }

    #bookLink{
        position: absolute;
        margin-left:27%;
        margin-top:-3%;
        background-color: #fff;
        padding: 1% 1% 1% 1%;
        font-size:1rem;
       
    }
    #nav-logo-desktop{
        position: absolute;
        margin-left:36%;
        font-size: 6rem;
        font-weight: 500;
       color:#ffffff;
       font-weight: lighter;
       font-family: 'Italianno', cursive;

    }

    

    .hamburger {
        display: none;
    }

    .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
    }


    .nav-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav-item {
        margin-left: 5rem;
    }
    
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #475569;
    }
    
    .nav-link:hover{
        color: #ffffff;
    }
    
    

    #homeLink{
        
        margin-top:-2%;
        margin-left:-60%;
    }

    #projectLink{
        margin-left:-50%;
    }

    #aboutLink{
        margin-left:-90%;
    }

    #contactLink{
        margin-top:-2%;
        margin-left:20%;
    }

    @media screen and (min-width:50px) and (max-width:199px){
       
        #header{
            height:20vh;
       background-image: url("img/smoke-show2.jpg");
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
            
        }
    
        nav{
            height:1vh;
            background-color: rgba(233, 233, 233, 0.534);
        }
        .navbar{
            background-color: #e4e4e493;
        }
                .nav-menu {
                    position: fixed;
                    left: -100%;
                    top: 3rem;
                    flex-direction: column;
                    background-color: #fff;
                    height:40vh !important;
                    width: 100%;
                    border-radius: 10px;
                    text-align: center;
                    transition: 0.3s;
                    box-shadow:
                        0 10px 27px rgba(0, 0, 0, 0.05);
                        z-index:1 !important;
                }
            
                .nav-menu.active {
                    left: 0;
                }
        
                .nav-item {
                    margin: 2.5rem 0;
                    
                }
            
                .hamburger {
                    display: block;
                    cursor: pointer;
                }
        .bar{
            background-color: #3b3b3b;
        }
                .hamburger.active .bar:nth-child(2) {
                    opacity: 0;
                }
            
                .hamburger.active .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }
            
                .hamburger.active .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
        .nav-logo-mobile{
            margin-left:39% !important;
        }
        
        .nav-logo-mobile{
            height: 50vh !important;
        }
        
        #nav-logo-desktop{
            display:none;
        }
                #alchBrand{
                    margin-top: -59% !important;
                    margin-left:-9% !important;
                    width:10% !important;
                    height:10% !important;
                   }

                   #bodycontact{
                    margin-left:26vw;
                   }
        
                #homeLink{
                    position: absolute;
                    margin-top:-30%;
                    margin-left:-15% !important;
                    color:rgb(255, 255, 255);
                }
        
                #projectLink{
                    position: absolute;
                    margin-top:-5%;
                    margin-left:-15% !important;
                    color:rgb(255, 255, 255);
                }
        
                #aboutLink{
                    position: absolute;
                    margin-top:-20%;
                    margin-left:-15% !important;
                    color:rgb(255, 255, 255);
                }
        
                #bookLink{
                    margin-top:-5vh;
                    margin-left:-32%;
                    background-color: #3b3b3b;
                    color:#fff;
                }
        
                #contactLink{
                   display:none;
        
                }
        
                span{
                    color:#475569;
                }
        
            #alchDesignLogo{
                margin-top:-12vh !important;
            }
    
        .nav-logo-mobile{
            height: 50vh !important;
        }
        
        #mainNav{
            display:none;
        }
    
       
        
    
        h1{
            display:none;
            position: absolute;
            margin-top:3vh !important;
            margin-left:10vw !important;
            font-size:.9rem;
           font-family: 'Italianno', cursive;
            color:rgb(49, 49, 49);
           
        }

        #subTitle{
            display:none;
        }
    
        #websites{
            display:none;
            margin-top:3%;
        }
        
        #explore{
            margin-top:70vh;
        }
        
        
        .websiteSample{
            position: absolute;
            margin-top:2%;
           
           
        }
        
        .slogan{
            margin-left:-3%;
            font-size: 2rem;
        }
        
        .sampleImg{
            width:40%;
            height:10%;
        }
        
        
        
        #img1{
            position: absolute;
            margin-top:5%;
            margin-left:26vw;
            height:8vh;
            width:50vw;
            z-index:-1;
        }
        
        #img2{
            position: absolute;
            margin-top:9vh;
            height:8vh;
            width:50vw;
            z-index:-1;
        }
        
        #img3{
            position: absolute;
            margin-top:9vh;
            margin-left:50vw;
            height:8vh;
            width:50vw;
            z-index:-1;
        }
    
    h2{
        position: absolute;
                margin-top:17vh !important;
                margin-left:7vw !important;
                font-size:2rem;
                font-weight: lighter;
               font-family: 'Italianno', cursive;
                color:rgb(94, 92, 92);
               
    }


    .sampleImg{
    
        display:flex;
        padding:4%;
        width:90%;
        height:120px;
    }

    #explore{
        margin-top:10vh;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 45vh;;
        width: auto;
        margin-top: -22px;
        padding: 5px;
        color: rgb(94, 94, 94);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index:1;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        display:none;
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }

      #bodycontact{
        font-size:1rem;
      }
    
    #aboutHeader{
        margin-top:1vh !important;
        margin-left:11vw !important;
        font-size:1rem;
        width:80vw;
        color:#464646;
    }

    .pricingHeader{
        margin-top:-4vh !important;
        margin-left:17vw !important;
        font-size:1.6rem;
        font-family: 'Italianno', cursive;
        color:#535353;
        font-weight: lighter;
        padding:3%;
    
    }

  
    
    .itemContent{
        margin-left:6vw;
        padding:2%;
        font-size:10px;
        width:84vw;
        
    }
    
    #impact{
        margin-left:9vw;
        width:82vw;
        font-size:.70rem;
        font-weight: lighter;
        color:#393a3a;
    }
    
    .itemHeader{
        margin-left:8vw;
        font-size:1.2rem;
    }
    
    h3{
       margin-left:30vw !important;
       color:#535353;
        width:100%;
    
    }
    
    h4{
        margin-top:-4vh !important;
        margin-left:10vw !important;
        font-size:1.6rem;
        font-family: 'Italianno', cursive;
        color:#535353;
        font-weight: lighter;
        padding:3%;
    
    }
    
    #dynamic{
        margin-top:2vh !important;
        margin-left:11vw !important;
        width:70vw;
        font-size:.80rem;
    
    }
    
    #comingSoon{
        margin-top:2vh !important;
    
    }
    
    .extraitemContent{
        margin-top:2vh;
        margin-left:7vw;
        font-size:.80rem;
    }
    
    footer{
        margin-top:8vh !important;
    }}

        @media screen and (min-width:200px) and (max-width:220px){

            
        
            #header{
                height:36vh;
           background-image: url("img/smoke-show2.png");
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
                
            }
        
            nav{
                height:10%;
                background-color: rgba(233, 233, 233, 0.199);
            }
            .navbar{
                background-color: #e4e4e441;
            }
                    .nav-menu {
                        position: fixed;
                        left: -100%;
                        top: 3rem;
                        flex-direction: column;
                        background-color: #fff;
                        width: 100%;
                        border-radius: 10px;
                        text-align: center;
                        transition: 0.3s;
                        box-shadow:
                            0 10px 27px rgba(0, 0, 0, 0.05);
                            z-index:1 !important;
                    }
                
                    .nav-menu.active {
                        left: 0;
                    }
            
                    .nav-item {
                        font-weight: lighter;
                        margin: 2.5rem 0;
                        
                    }
                
                    .hamburger {
                        display: block;
                        cursor: pointer;
                    }
            .bar{
                background-color: #3b3b3b;
            }
                    .hamburger.active .bar:nth-child(2) {
                        opacity: 0;
                    }
                
                    .hamburger.active .bar:nth-child(1) {
                        transform: translateY(8px) rotate(45deg);
                    }
                
                    .hamburger.active .bar:nth-child(3) {
                        transform: translateY(-8px) rotate(-45deg);
                    }
            .nav-logo-mobile{
                margin-left:39% !important;
            }
            
            .nav-logo-mobile{
                height: 50vh !important;
            }
            
            #nav-logo-desktop{
                display:none;
            }
                    #alchBrand{
                        margin-top: -59% !important;
                        margin-left:-9% !important;
                        width:10% !important;
                        height:10% !important;
                       }
            
                    #homeLink{
                        position: absolute;
                        margin-top:-30%;
                        margin-left:-15% !important;
                        color:rgb(252, 249, 249);
                    }
            
                    #projectLink{
                        position: absolute;
                        margin-top:-5%;
                        margin-left:-15% !important;
                        color:rgb(255, 255, 255);
                    }
            
                    #aboutLink{
                        position: absolute;
                        margin-top:-20%;
                        margin-left:-15% !important;
                        color:rgb(253, 251, 251);
                    }
            
                    #bookLink{
                        margin-top:-20%;
                        margin-left:-26%;
                        background-color: #3b3b3b;
                        color:#fff;
                    }
            
                    #contactLink{
                        margin-left:-15%;
                        margin-top:-6%;
                        color:rgb(126, 126, 126);
            
                    }
            
                    span{
                        color:#475569;
                    }
            
                #alchDesignLogo{
                    margin-top:-12vh !important;
                }
        
            .nav-logo-mobile{
                height: 50vh !important;
            }
            
            #mainNav{
                display:none;
            }
        
            h1{
                position: absolute;
                margin-top:10vh !important;
                margin-left:8vw !important;
                font-size:2rem;
                font-weight: lighter;
               font-family: 'Italianno', cursive;
                color:rgb(37, 37, 37);
               
            }

            #aboutHeader{
                position: absolute;
                margin-top:2vh !important;
                margin-left:4vw !important;
                font-size:1.5rem;
                font-weight: lighter;
               font-family: 'Italianno', cursive;
                color:rgb(37, 37, 37);
            }

            #subTitle{
                margin-top:140vh;
            }
#websites{
    display:none;
}
            
#explore{
    margin-top:16vh;
}

.sampleImg{
    
    display:flex;
    padding:4%;
    width:90%;
    height:120px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 65vh;
    width: auto;
    margin-top: -22px;
    padding: 5px;
    color: rgb(56, 55, 55);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index:1;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    display:none;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #bodycontact{
    margin-left:30vw;
  }
        
            #websites{
                margin-top:3%;
            }
            
            
            
            
            .websiteSample{
                position: absolute;
                margin-top:2%;
               
               
            }
            
            .slogan{
                margin-left:-3%;
                font-size: 2rem;
            }
            
            .sampleImg{
                width:40%;
                height:10%;
            }
            
            
            
            #img1{
                position: absolute;
                margin-top:5%;
                margin-left:26vw;
                height:8vh;
                width:50vw;
                z-index:-1;
            }
            
            #img2{
                position: absolute;
                margin-top:9vh;
                height:8vh;
                width:50vw;
                z-index:-1;
            }
            
            #img3{
                position: absolute;
                margin-top:9vh;
                margin-left:50vw;
                height:8vh;
                width:50vw;
                z-index:-1;
            }


            #pricingHeader{
                margin-top:2vh !important;
                margin-left:30vw !important;
                font-size:1.6rem;
                font-family: 'Italianno', cursive;
                color:#535353;
                font-weight: lighter;
                padding:3%;
            
            }
            
            .itemContent{
                margin-left:3vw;
                padding:2%;
                font-size:10px;
                width:84vw;
                
            }
            
            #impact{
                margin-left:9vw;
                width:82vw;
                font-size:.70rem;
                font-weight: lighter;
                color:#393a3a;
            }
            
            .itemHeader{
                margin-top:2vh !important;
                margin-left:30vw !important;
                font-size:1.6rem;
                font-family: 'Italianno', cursive;
                color:#535353;
                font-weight: lighter;
                padding:3%;
            }
            
            h3{
               
                width:100%;
            
            }
            
            h4{
                margin-top:-4vh !important;
                margin-left:10vw !important;
                font-size:1.6rem;
                font-family: 'Italianno', cursive;
                color:#535353;
                font-weight: lighter;
                padding:3%;
            
            }
            
            #dynamic{
                margin-top:2vh !important;
                margin-left:11vw !important;
                width:70vw;
                font-size:.80rem;
            
            }
            
            #comingSoon{
                margin-top:2vh !important;
            
            }
            
            .extraitemContent{
                margin-top:2vh;
                margin-left:7vw;
                font-size:.80rem;
            }
            
            footer{
                margin-top:8vh !important;
            }
            }


            @media screen and (min-width:221px) and (max-width:270px){

           
                #header{
                    height:36vh;
               background-image: url("img/smoke-show2.png");
               background-repeat: no-repeat;
               background-position: center;
               background-size: cover;
                    
                }
            
                nav{
                    height:10%;
                    background-color: rgba(233, 233, 233, 0.199);
                }
                .navbar{
                    background-color: #e4e4e441;
                }
                        .nav-menu {
                            position: fixed;
                            left: -100%;
                            top: 3rem;
                            flex-direction: column;
                            background-color: #fff;
                            width: 100%;
                            border-radius: 10px;
                            text-align: center;
                            transition: 0.3s;
                            box-shadow:
                                0 10px 27px rgba(0, 0, 0, 0.05);
                                z-index:1 !important;
                        }
                    
                        .nav-menu.active {
                            left: 0;
                        }
                
                        .nav-item {
                            font-weight: lighter;
                            margin: 2.5rem 0;
                            
                        }
                    
                        .hamburger {
                            display: block;
                            cursor: pointer;
                        }
                .bar{
                    background-color: #3b3b3b;
                }
                        .hamburger.active .bar:nth-child(2) {
                            opacity: 0;
                        }
                    
                        .hamburger.active .bar:nth-child(1) {
                            transform: translateY(8px) rotate(45deg);
                        }
                    
                        .hamburger.active .bar:nth-child(3) {
                            transform: translateY(-8px) rotate(-45deg);
                        }
                .nav-logo-mobile{
                    margin-left:39% !important;
                }
                
                .nav-logo-mobile{
                    height: 50vh !important;
                }
                
                #nav-logo-desktop{
                    display:none;
                }
                        #alchBrand{
                            margin-top: -59% !important;
                            margin-left:-9% !important;
                            width:10% !important;
                            height:10% !important;
                           }
                
                        #homeLink{
                            position: absolute;
                            margin-top:-30%;
                            margin-left:-15% !important;
                            color:rgb(252, 249, 249);
                        }
                
                        #projectLink{
                            position: absolute;
                            margin-top:-5%;
                            margin-left:-15% !important;
                            color:rgb(255, 255, 255);
                        }
                
                        #aboutLink{
                            position: absolute;
                            margin-top:-20%;
                            margin-left:-15% !important;
                            color:rgb(253, 251, 251);
                        }
                
                        #bookLink{
                            margin-top:-20%;
                            margin-left:-26%;
                            background-color: #3b3b3b;
                            color:#fff;
                        }
                
                        #contactLink{
                            margin-left:-15%;
                            margin-top:-6%;
                            color:rgb(126, 126, 126);
                
                        }
                
                        span{
                            color:#475569;
                        }
                
                    #alchDesignLogo{
                        margin-top:-12vh !important;
                    }
            
                .nav-logo-mobile{
                    height: 50vh !important;
                }
                
                #mainNav{
                    display:none;
                }
            
                h1{
                    position: absolute;
                    margin-top:10vh !important;
                    margin-left:8vw !important;
                    font-size:2rem;
                    font-weight: lighter;
                   font-family: 'Italianno', cursive;
                    color:rgb(37, 37, 37);
                   
                }
    
                #aboutHeader{
                    position: absolute;
                    margin-top:2vh !important;
                    margin-left:9vw !important;
                    width:80vw;
                    font-size:1.5rem;
                    font-weight: lighter;
                   font-family: 'Italianno', cursive;
                    color:rgb(37, 37, 37);
                }
    
                #subTitle{
                    margin-top:140vh;
                }
    #websites{
        display:none;
    }
                
    #explore{
        margin-top:16vh;
    }
    
    .sampleImg{
        
        display:flex;
        padding:4%;
        width:90%;
        height:120px;
    }
    
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 65vh;
        width: auto;
        margin-top: -22px;
        padding: 5px;
        color: rgb(56, 55, 55);
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        z-index:1;
      }
      
      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }
      
      /* On hover, add a black background color with a little bit see-through */
      .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
      }
      
      /* Caption text */
      .text {
        display:none;
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }
      
      /* Number text (1/3 etc) */
      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }
      
      /* The dots/bullets/indicators */
      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }
      
      .active, .dot:hover {
        background-color: #717171;
      }
      
      /* Fading animation */
      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }
      
      @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
      }
    
      #bodycontact{
        margin-left:30vw;
      }
            
                #websites{
                    margin-top:3%;
                }
                
                
                
                
                .websiteSample{
                    position: absolute;
                    margin-top:2%;
                   
                   
                }
                
                .slogan{
                    margin-left:-3%;
                    font-size: 2rem;
                }
                
                .sampleImg{
                    width:40%;
                    height:10%;
                }
                
                
                
                #img1{
                    position: absolute;
                    margin-top:5%;
                    margin-left:26vw;
                    height:8vh;
                    width:50vw;
                    z-index:-1;
                }
                
                #img2{
                    position: absolute;
                    margin-top:9vh;
                    height:8vh;
                    width:50vw;
                    z-index:-1;
                }
                
                #img3{
                    position: absolute;
                    margin-top:9vh;
                    margin-left:50vw;
                    height:8vh;
                    width:50vw;
                    z-index:-1;
                }
    
    
                .pricingHeader{
                    margin-top:-4vh !important;
                    margin-left:17vw !important;
                    font-size:1.6rem;
                    font-family: 'Italianno', cursive;
                    color:#535353;
                    font-weight: lighter;
                    padding:3%;
                
                }
                
                .itemContent{
                    margin-left:3vw;
                    padding:2%;
                    font-size:10px;
                    width:84vw;
                    
                }
                
                #impact{
                    margin-left:9vw;
                    width:82vw;
                    font-size:.70rem;
                    font-weight: lighter;
                    color:#393a3a;
                }
                
                .itemHeader{
                    font-size:2rem;
                    
                }
                
                h3{
                   margin-left:35vw;
                    width:100%;
                    font-size:2rem;
                    font-family: 'Italianno', cursive;
                    color:#535353;
                    font-weight: lighter;
                    
                
                }
                
                h4{
                    margin-top:-4vh !important;
                    margin-left:10vw !important;
                    font-size:2rem;
                    font-family: 'Italianno', cursive;
                    color:#535353;
                    font-weight: lighter;
                    padding:3%;
                
                }
                
                #dynamic{
                    margin-top:2vh !important;
                    margin-left:11vw !important;
                    width:70vw;
                    font-size:.80rem;
                
                }
                
                #comingSoon{
                    margin-top:2vh !important;
                
                }
                
                .extraitemContent{
                    margin-top:2vh;
                    margin-left:7vw;
                    font-size:.80rem;
                }
                
                footer{
                    margin-top:8vh !important;
                }
                }
    
    
                @media screen and (min-width:270px) and (max-width:299px){

           body{
            background-color: #9e5b5b;
           }
                    #header{
                        height:36vh;
                   background-image: url("img/smoke-show2.png");
                   background-repeat: no-repeat;
                   background-position: center;
                   background-size: cover;
                        
                    }
                
                    nav{
                        height:10%;
                        background-color: rgba(233, 233, 233, 0.199);
                    }
                    .navbar{
                        background-color: #e4e4e441;
                    }
                            .nav-menu {
                                position: fixed;
                                left: -100%;
                                top: 3rem;
                                flex-direction: column;
                                background-color: #fff;
                                width: 100%;
                                border-radius: 10px;
                                text-align: center;
                                transition: 0.3s;
                                box-shadow:
                                    0 10px 27px rgba(0, 0, 0, 0.05);
                                    z-index:1 !important;
                            }
                        
                            .nav-menu.active {
                                left: 0;
                            }
                    
                            .nav-item {
                                font-weight: lighter;
                                margin: 2.5rem 0;
                                
                            }
                        
                            .hamburger {
                                display: block;
                                cursor: pointer;
                            }
                    .bar{
                        background-color: #3b3b3b;
                    }
                            .hamburger.active .bar:nth-child(2) {
                                opacity: 0;
                            }
                        
                            .hamburger.active .bar:nth-child(1) {
                                transform: translateY(8px) rotate(45deg);
                            }
                        
                            .hamburger.active .bar:nth-child(3) {
                                transform: translateY(-8px) rotate(-45deg);
                            }
                    .nav-logo-mobile{
                        margin-left:39% !important;
                    }
                    
                    .nav-logo-mobile{
                        height: 50vh !important;
                    }
                    
                    #nav-logo-desktop{
                        display:none;
                    }
                            #alchBrand{
                                margin-top: -59% !important;
                                margin-left:-9% !important;
                                width:10% !important;
                                height:10% !important;
                               }
                    
                            #homeLink{
                                position: absolute;
                                margin-top:-30%;
                                margin-left:-15% !important;
                                color:rgb(252, 249, 249);
                            }
                    
                            #projectLink{
                                position: absolute;
                                margin-top:-5%;
                                margin-left:-15% !important;
                                color:rgb(255, 255, 255);
                            }
                    
                            #aboutLink{
                                position: absolute;
                                margin-top:-20%;
                                margin-left:-15% !important;
                                color:rgb(253, 251, 251);
                            }
                    
                            #bookLink{
                                margin-top:-20%;
                                margin-left:-26%;
                                background-color: #3b3b3b;
                                color:#fff;
                            }
                    
                            #contactLink{
                                margin-left:-15%;
                                margin-top:-6%;
                                color:rgb(126, 126, 126);
                    
                            }
                    
                            span{
                                color:#475569;
                            }
                    
                        #alchDesignLogo{
                            margin-top:-12vh !important;
                        }
                
                    .nav-logo-mobile{
                        height: 50vh !important;
                    }
                    
                    #mainNav{
                        display:none;
                    }
                
                    h1{
                        position: absolute;
                        margin-top:10vh !important;
                        margin-left:16vw !important;
                        font-size:2rem;
                        font-weight: lighter;
                       font-family: 'Italianno', cursive;
                        color:rgb(37, 37, 37);
                       
                    }
        
                    #aboutHeader{
                        position: absolute;
                        margin-top:2vh !important;
                        margin-left:9vw !important;
                        width:80vw;
                        font-size:1.5rem;
                        font-weight: lighter;
                       font-family: 'Italianno', cursive;
                        color:rgb(37, 37, 37);
                    }
        
                    #subTitle{
                        margin-top:140vh;
                    }
        #websites{
            display:none;
        }
                    
        #explore{
            margin-top:16vh;
        }
        
        .sampleImg{
            
            display:flex;
            padding:4%;
            width:90%;
            height:120px;
        }
        
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 65vh;
            width: auto;
            margin-top: -22px;
            padding: 5px;
            color: rgb(56, 55, 55);
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
            z-index:1;
          }
          
          /* Position the "next button" to the right */
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          
          /* On hover, add a black background color with a little bit see-through */
          .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
          }
          
          /* Caption text */
          .text {
            display:none;
            color: #f2f2f2;
            font-size: 15px;
            padding: 8px 12px;
            position: absolute;
            bottom: 8px;
            width: 100%;
            text-align: center;
          }
          
          /* Number text (1/3 etc) */
          .numbertext {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          
          /* The dots/bullets/indicators */
          .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
          }
          
          .active, .dot:hover {
            background-color: #717171;
          }
          
          /* Fading animation */
          .fade {
            animation-name: fade;
            animation-duration: 1.5s;
          }
          
          @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
          }
        
          #bodycontact{
            margin-left:30vw;
          }
                
                    #websites{
                        margin-top:3%;
                    }
                    
                    
                    
                    
                    .websiteSample{
                        position: absolute;
                        margin-top:2%;
                       
                       
                    }
                    
                    .slogan{
                        margin-left:-3%;
                        font-size: 2rem;
                    }
                    
                    .sampleImg{
                        width:40%;
                        height:10%;
                    }
                    
                    
                    
                    #img1{
                        position: absolute;
                        margin-top:5%;
                        margin-left:26vw;
                        height:8vh;
                        width:50vw;
                        z-index:-1;
                    }
                    
                    #img2{
                        position: absolute;
                        margin-top:9vh;
                        height:8vh;
                        width:50vw;
                        z-index:-1;
                    }
                    
                    #img3{
                        position: absolute;
                        margin-top:9vh;
                        margin-left:50vw;
                        height:8vh;
                        width:50vw;
                        z-index:-1;
                    }
        
        
                    .pricingHeader{
                        margin-top:-4vh !important;
                        margin-left:17vw !important;
                        font-size:1.6rem;
                        font-family: 'Italianno', cursive;
                        color:#535353;
                        font-weight: lighter;
                        padding:3%;
                    
                    }
                    
                    .itemContent{
                        margin-left:3vw;
                        padding:2%;
                        font-size:10px;
                        width:84vw;
                        
                    }
                    
                    #impact{
                        margin-left:9vw;
                        width:82vw;
                        font-size:.70rem;
                        font-weight: lighter;
                        color:#393a3a;
                    }
                    
                    .itemHeader{
                        font-size:2rem;
                        
                    }
                    
                    h3{
                       margin-left:35vw;
                        width:100%;
                        font-size:2rem;
                        font-family: 'Italianno', cursive;
                        color:#535353;
                        font-weight: lighter;
                        
                    
                    }
                    
                    h4{
                        margin-top:-4vh !important;
                        margin-left:10vw !important;
                        font-size:2rem;
                        font-family: 'Italianno', cursive;
                        color:#535353;
                        font-weight: lighter;
                        padding:3%;
                    
                    }
                    
                    #dynamic{
                        margin-top:2vh !important;
                        margin-left:11vw !important;
                        width:70vw;
                        font-size:.80rem;
                    
                    }
                    
                    #comingSoon{
                        margin-top:2vh !important;
                    
                    }
                    
                    .extraitemContent{
                        margin-top:2vh;
                        margin-left:7vw;
                        font-size:.80rem;
                    }
                    
                    footer{
                        margin-top:8vh !important;
                    }
                    }
        
        

            @media screen and (min-width:300px) and (max-width:400px){
        body{
        background-image: url("img/smoke-show.png");
        background-size: cover;
        background-repeat: no-repeat;
        }

        .navBlock{
            background-color: #9e5b5b;
        }

        #mainNav{
            background-color: #ffffffb0;
            width:100vw;
            height:15vh;
        }
              a{
                color:#313131;
                font-weight: lighter;
              }

              .nav-link{
                margin-left:7vw;
                padding:4%;
                color:#242424;
                font-size:1.40rem;
                font-weight: lighter;

              }

              #miniNav{
                display:none;
              }

              #mainNav{
                display:inline-block;
                font-size:0.50rem;
                color:#fff;
              }
            #mobileTitle{
                margin-top:-10vh;
            }
            
            h1{
                position: absolute;
                margin-top:-10vh !important;
                margin-left:21vw !important;
                font-size:2rem;
                font-weight: lighter;
               font-family: 'Italianno', cursive;
                color:rgb(94, 92, 92);
               
            }

            .typewriter h1 {
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid rgba(230, 230, 230, 0); /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
               /* Adjust as needed */
                animation: 
                  typing 3.5s steps(40, end),
                  blink-caret .75s step-end infinite;
              }
              
              /* The typing effect */
              @keyframes typing {
                from { width: 0 }
                to { width: 100% }
              }

              #subTitle{
               margin-top:4vh;
               margin-left:20vw;
                color:#fff !important;
              }

              #aboutHeader{
                position: absolute;
                margin-top:17vh !important;
                margin-left:7vw !important;
                font-size:2rem;
                font-weight: lighter;
               font-family: 'Italianno', cursive;
                color:rgb(94, 92, 92);
               
              }
              #websites{
                position: absolute;
                margin-top:36vh;
            }
            
            
            
            
            .websiteSample{
                position: absolute;
                margin-top:2%;
               
               
            }
            
            .slogan{
                margin-left:-3%;
                font-size: 2rem;
            }
            
            .sampleImg{
                width:40%;
                height:10%;
            }
            
            
            
            #img1{
                position: absolute;
                margin-top:5%;
                margin-left:26vw;
                height:8vh;
                width:50vw;
                z-index:-1;
            }
            
            #img2{
                position: absolute;
                margin-top:9vh;
                height:8vh;
                width:50vw;
                z-index:-1;
            }
            
            #img3{
                position: absolute;
                margin-top:9vh;
                margin-left:50vw;
                height:8vh;
                width:50vw;
                z-index:-1;
            }

            #explore{
                margin-top:16vh;
            }
            
            .sampleImg{
                
                display:flex;
                padding:4%;
                width:90%;
                height:120px;
            }
            
            .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 65vh;
                width: auto;
                margin-top: -22px;
                padding: 5px;
                color: rgb(56, 55, 55);
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                user-select: none;
                z-index:1;
              }
              
              /* Position the "next button" to the right */
              .next {
                right: 0;
                border-radius: 3px 0 0 3px;
              }
              
              /* On hover, add a black background color with a little bit see-through */
              .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
              }
              
              /* Caption text */
              .text {
                display:none;
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
              }
              
              /* Number text (1/3 etc) */
              .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
              }
              
              /* The dots/bullets/indicators */
              .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
              }
              
              .active, .dot:hover {
                background-color: #717171;
              }
              
              /* Fading animation */
              .fade {
                animation-name: fade;
                animation-duration: 1.5s;
              }
              
              @keyframes fade {
                from {opacity: .4}
                to {opacity: 1}
              }
            
              #bodycontact{
                margin-left:30vw;
              }
                    

            .pricingHeader{
                margin-top:-4vh !important;
                margin-left:17vw !important;
                font-size:1.6rem;
                font-family: 'Italianno', cursive;
                color:#535353;
                font-weight: lighter;
                padding:3%;
            
            }
            
            .itemContent{
                margin-left:3vw;
                padding:2%;
                font-size:10px;
                width:84vw;
                
            }
            
            #impact{
                margin-left:9vw;
                width:82vw;
                font-size:.70rem;
                font-weight: lighter;
                color:#393a3a;
            }
            
            .itemHeader{
                font-size:1.2rem;
            }
            
            h3{
               
                width:100%;
            
            }
            
            h4{
                margin-top:-4vh !important;
                margin-left:10vw !important;
                font-size:1.6rem;
                font-family: 'Italianno', cursive;
                color:#535353;
                font-weight: lighter;
                padding:3%;
            
            }
            
            #dynamic{
                margin-top:2vh !important;
                margin-left:11vw !important;
                width:70vw;
                font-size:.80rem;
            
            }
            
            #comingSoon{
                margin-top:2vh !important;
            
            }
            
            .extraitemContent{
                margin-top:2vh;
                margin-left:7vw;
                font-size:.80rem;
            }
            
            footer{
                margin-top:8vh !important;
            }
            
            
            
            }












  
  
  
  
  
  
    
